@charset "UTF-8"; /* Aceitar caracteres brasileiros */

* { /* Zera margens padrões e padroniza fonte */
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body { /* Ajusta posição da pagina */
    background-image: linear-gradient(135deg, white, white, #08a89d69, #08a89db7, #08a89d);
    width: 1000px;
    margin: auto;
    text-align: justify;
    font-size: 0.95em;
}

nav { /* Visão da barra de navegação */
    display: flex;
    justify-content: center;
    background-color: #777777;
    border-radius: 0px 0px 5px 5px;
}
nav a, nav .dropbtn {  /* Decoração dos itens dentro do nav */
    padding: 4px 15px;
    text-decoration: none;
    text-align: center;
    color: white;    
    transition-duration: 0.4s;
}
nav a:hover, nav a:focus, nav .dropdown-content a:hover { /* Efeitos visuais quando passa o mouse */
    /**Linha Azul*box-shadow: inset 0px -3px 0px #09b6aab7;*/
    background-color: #ddd;
    color: black;
}
nav .dropdown-content { /* Esconde o contéudo para surgir */
    display: none;
    position: absolute;
    background-color: #777777;
}
nav .dropdown-content a { /* Ajusta o contéudo escondido */
    min-width: 92px;
    text-align: justify;
    border-bottom: 1px solid rgb(172, 172, 172);
    display: block;
}
.dropdown:hover > .dropdown-content { /* Gatilho para surgir o conteúdo */
    display: block;
}

.row { /* Divide a Tela */
  display: flex;
}
.sidelinks { /*Limita espaço e organiza os links */
    width: 160px;
    text-align: center;
    transition-duration: 0.4s;
}
.sidelinks .dropbtn { /* Transição de cinza para colorido */
    -webkit-filter: grayscale(100%);
    opacity: 0.7;
    transition-duration: 0.4s;
}
.sidelinks .dropdown-content { /* Esconde e organiza o conteúdo */
    display: none;
    flex-flow: row wrap;
    opacity: 0.5;
}
.sidelinks .dropdown-content a { /* Organiza itens escondidos */
    margin: auto;
    transition-duration: 0.4s;
}
.sidelinks .dropbtn:hover, .dropdown-content:hover { /*Efeito de cancelamento do cinza */
    transition-duration: 0.4s; -webkit-filter: grayscale(0%); opacity: 1;
}

.cotacao { /* Organiza a cotação hoje */
    width: 150px;
    margin-bottom: 5px;
}

div img, iframe { /* Estilo das imagens e iframes */
    border-radius: 5px;
    margin: 2px;
    box-shadow: 2px 2px 2px rgba(58, 58, 58, 0.13);
}
a img:hover { /* Efeito sombreado das imagens */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.719);
}

h2 { /* Configuração dos H2 */
    padding: 10px;
    text-align: center;
}
p { /* Configuração dos p */
    line-height: 1.3em;
    padding: 5px;
}
ul { /* Divide colunas das listas em 2 */
    columns: 2;
}
.sublinhado { /*Sublinhar */
    text-decoration: underline;
}

.slideshow-container { /* Slideshow container */
  position: relative;
}
.prev, .next { /* Next & previous buttons */
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next { /* Position the "next button" to the right */
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover { /* On hover, add a black background color with a little bit see-through */
  background-color: rgba(0,0,0,0.8);
}
.text { /* Caption text */
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext { /* Number text (1/3 etc) */
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot { /* The dots/bullets/indicators */
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade { /* Fading animation */
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px) { /* On smaller screens, decrease text size */
  .prev, .next,.text {font-size: 11px}
}

footer { /* Footer */
    font-weight: bold;
    text-align: center;
}