@charset "UTF-8";

* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(135deg, white, white, #08a89d69, #08a89db7, #08a89d);
    width: 1000px;
    margin: auto;
    text-align: justify;
    font-size: 0.95em;
}
header > img {
    display: block;
    margin: auto;
}
nav {
    /*background-image: radial-gradient(rgba(172, 172, 172, 0.836), rgba(90, 90, 90, 0.849), rgba(90, 90, 90, 0.863));*/
    background-color: rgb(128, 128, 128);
    margin: 0px;
    padding: 5px;
    text-decoration: none;
    text-align: center;
}
nav a, nav .dropbtn {
    padding: 4px 15px;
    text-decoration: none;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.349);
    cursor: pointer;
}
a:hover, a:focus {
    box-shadow: inset 0px -3px 0px #09b6aab7;
}
main {
    display: flex;
}
.dropdown {
    position: relative;
    display: inline-block;
}
nav .dropdown-content {
    display: none;
    position: absolute;
    margin-top: 5px;
    background-color: rgb(128, 128, 128);
    overflow: auto;
    box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.144);
    z-index: 1;
}
nav .dropdown-content a {
    padding: 4px 15px;
    min-width: 92px;
    text-decoration: none;
    text-align: justify;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.541);
    border-bottom: 1px solid rgb(172, 172, 172);
    cursor: pointer;
    display: block;
}
nav > .dropdown:hover > .dropdown-content {display: block;}

.sidenav {
    height: 100%;
    width: 200px;
    text-align: center;
    display: inline-block;
}
.sidenav a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}
.sidenav .dropdown-content {
    display: none;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.144);
}
.sidenav .dropdown-content a {
    display: inline;
    margin: auto;
    padding: 0;
}
.sidenav .dropdown-content img {
    display: inline;
    margin: 0;
    padding: 0;
}
.sidenav .dropdown:hover .dropdown-content {display: flex;}

  /* Main content */
section {
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
    
  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
div img, iframe {
    margin: 2px;
    box-shadow: 2px 2px 2px rgba(58, 58, 58, 0.13);
}
a img:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.719);    
}
h2 {
    padding: 10px;
    text-align: center;
}
p {
    line-height: 1.3em;
    padding: 5px;
}
ul {
    columns: 2;
}
.sublinhado {
    text-decoration: underline;
}
footer {
    margin: 5px;
    font-weight: bold;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}